<div *ngIf="kupac.kupac.id == null" class="sve">
    <form [formGroup]="uploadForm" novalidate>
         <h3>Unesite podatke novog kupca</h3>
            <div class="col">
              <mat-form-field class="forma">
                <input matInput placeholder="Naziv" formControlName="naziv" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="forma">
                <input matInput placeholder="Mjesto" formControlName="mjesto" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="forma">
                <input matInput placeholder="Adresa" formControlName="adresa" />
              </mat-form-field>
            </div><br>
          <button
            mat-raised-button
            (click)="postKupac()"
            class="right"
            [disabled]="uploadForm.invalid"
            color="primary">
            Unesi kupca 
          </button>
      </form>
</div>

<div *ngIf="kupac.kupac.id != null" class="sve">
<h3>Uredite kupca</h3>
    <form [formGroup]="updateForm"  autocomplete="off" class="form">
    <div class="col-md-12 form-group">
        <mat-form-field class="forma">
            <input matInput placeholder="Ime" value="{{kupac.kupac.naziv}}" formControlName="naziv" required>
            <mat-icon matPrefix>mode_edit</mat-icon>
        </mat-form-field>
    </div>
    <div class="col-md-12 form-group">
        <mat-form-field class="forma">
            <input matInput placeholder="Mjesto" formControlName="mjesto" required>
            <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>
    </div>
    <div class="col-md-12 form-group">
        <mat-form-field class="forma">
            <input matInput placeholder="Adresa" formControlName="adresa" required>
            <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>
    </div><br>
    <div class="col-md-12 form-group text-center butonic">
        <button mat-raised-button [disabled]="updateForm.invalid" color="primary" (click)="updateKupac()">Uredi</button>
    </div>
</form>
</div>
