.dialogic{
    height:50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.titl{
    text-align: center;
}
.dialogic1{
    text-align: center;
    align-items: center;
    justify-content: center;
}
