<div class="container mt-2">
  <button class="btn btn-primary" (click)="downloadAsPDF()">Export To PDF</button>
</div>
<div class="container mt-5 mb-3" id="pdfTable" #pdfTable>
  <div class="row d-flex justify-content-center">
      <div class="col-md-12">
          <div class="card">
              <div class="d-flex flex-row p-2">
                  <div class="d-flex flex-column"> <span class="font-weight-bold">Broj računa </span> <small></small> {{racun.racun.broj}}     <span class="datum">Datum: {{racun.racun.datum | customDate}}</span></div>
                  
              </div>
              
              <hr>
              <div class="table-responsive p-2">
                  <table class="table table-borderless">
                      <tbody>
                          <tr class="add">
                              <td>Kupac</td>
                              <td class="radnik">Radnik na kasi</td>
                          </tr>
                          <tr class="content">
                              <td class="font-weight-bold">Ime: {{racun.racun.kupac.naziv}}<br>Adresa: {{racun.racun.kupac.adresa}} <br>Mjesto: {{racun.racun.kupac.mjesto}}</td>
                              <td class="font-weight-bold radnik" >{{ racun.racun.user.username | titlecase }}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <hr>
              <div class="products p-6">
                  <table class="table table-borderless">
                      <tbody>
                          <tr class="add">
                              <td class="text-center">Šifra proizvoda</td>
                              <td class="text-center">Ime</td>
                              <td class="text-center">Cijena</td>
                              <td class="text-center">Količina</td>
                              <td class="text-center">Popust</td>
                              <td class="text-center">Total</td>
                          </tr>
                          <tr class="content" *ngFor="let stavka of racun.racun.stavkeRacuna">
                            <td class="text-center">{{stavka.proizvod.sifra}}</td>
                            <td>{{stavka.proizvod.naziv}}</td>
                            <td>{{stavka.cijena | number: ".2-2"}} KM</td>
                            <td class="text-center">{{stavka.kolicina}} {{stavka.proizvod.jedinicaMjere.naziv | lowercase}}<span *ngIf="stavka.kolicina>1">a</span></td>
                            <td class="text-center">{{stavka.popust | number: ".2-2"}} %</td>
                            <td class="text-center">{{stavka.vrijednost | number: ".2-2"}} KM</td>
                          </tr>
                          <tr class="add">
                            <td></td><td></td><td></td><td></td><td></td>

                            <td>Cijena prije popusta</td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td><td></td>
                            <td>{{totalBezPopusta | number: ".2-2"}} KM</td>
                          </tr>
                          <tr class="add">
                            <td></td><td></td><td></td><td></td><td></td>

                            <td>Iznos popusta</td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td><td></td>
                            <td>{{totalPopust | number: ".2-2"}} KM</td>
                          </tr>
                          <tr class="add">
                            <td></td><td></td><td></td><td></td><td></td>

                            <td>Cijena</td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td><td></td>
                            <td>{{racun.racun.ukupnaCijena | number: ".2-2"}} KM</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <hr>
              <div class="products p-2">
                  Napomena: {{racun.racun.napomena}}
              </div>
              <hr>
          </div>
      </div>
  </div>
</div>